/* Establecer un fondo oscuro y texto claro */
body {
  margin: 100px;
  font-family: 'Courier New', Courier, monospace; /* Fuente monoespaciada */
  background-color: #121212; /* Fondo oscuro */
  color: #00FF00; /* Texto verde como en una consola */
}

/* Estilo para el contenedor de la consola */
.console {
  text-align: left; /* Alinear el texto a la izquierda como en una consola */
  padding: 20px;
  width: 50%;
  height: 100vh; /* Ocupa toda la pantalla */
  overflow: hidden; /* Evitar desplazamiento del contenido */
}
.blinking-dot {
  animation: blink 1s step-start 0s;
}

@keyframes blink {
  10% {
    opacity: 0;
  }
}